# ignore folder with data that is not publish
Data/Day-Ahead_Auction
Data/ID_auction_preprocessed 
Data/Indices
Data/Intraday_Auction
Data/Polish_data
Data/Transactions
Data/preprocessed_dataset.csv
**/__pycache__/
# ignore the python env
contmarket311
# ignore the forecasting results and intraday data
Forecasting/RESULTS
SLIDE_SHOW_IMAGES
Forecasting/data_ID.db
